{% extends "network/layout.html" %}

{% block body %}
    {% for post in page_obj %}
        <div class="container border">
                <div class="row">
                    <div class="col">
                        <a href="{% url 'profile' post.username.id %}">{{ post.username }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ post.content }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ post.date }}
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-auto mt-1 mb-1">
                        <button class="btn btn-primary like" type="submit">Like</button>
                    </div>
                    <div class="col-auto mt-1 mb-1">
                        <button class="btn btn-primary edit" type="submit">Edit</button>
                    </div>
                </div>
        </div><br>
    {% endfor %}

    <div class="container border">
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            <div class="row p-1">
                <div class="col">
                    <label class="font-weight-bold lead" for="post">New Post</label>
                </div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <textarea class="form-control" name="post" rows="3"></textarea>
                </div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
            </div>
        </form>
    </div><br>

    <div class="static-bottom">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
    
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    
        <div class="text-center">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </div>
    </div>
{% endblock %}